# Removing docs build
docs/build/
*.bak

# Removing pycache
__pycache__

# the module index is built each time the docs
docs/source/module_index.rst

# removing swap files
*.swp

# the ERSEM setups repo should be cloned each time
docs/source/ersem-setups

# removing vscode files
.vscode
